__pycache__/
.idea/*
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
libpince/libmemscan/*
libpince/libmono_collector/*
mono_collector/*
!mono_collector/*.zig
docs/build/*
*.directory
*.lprof
*.qm
*.py[cod]
*$py.class
gdb_pince/*
*.gnbs.conf
.venv/*
*.AppImage
