__pycache__/
.idea/*
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
libscanmem.so*
libpince/libscanmem/*
*.directory
*.lprof
*.qm
*.py[cod]
*$py.class
gdb_pince/*
*.gnbs.conf
.venv/*
*.AppImage
