# Copyright (C) 2017 Jakob Kreuze <jakob@memeware.net>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

before_install:
  - wget https://www.python.org/ftp/python/3.4.6/Python-3.4.6.tgz
  - tar xfz Python-3.4.6.tgz
  - cd Python-3.4.6
  - sh configure --prefix=/usr --enable-shared
  - make
  - sudo make install
  - cd ..
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y && sudo apt-get update && sudo apt-get install gcc-5
  - sudo sh install_gdb.sh
  - wget https://bootstrap.pypa.io/get-pip.py
  - sudo python3 get-pip.py
  - sudo pip3 install psutil pexpect distorm3

script: sudo python3 run_tests.py -c /bin/ls
