name: Release AppImage

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: sudo apt install libfuse2 libmpc-dev libmpfr-dev gmpc-dev appstream qt6-l10n-tools libcairo2-dev libgirepository1.0-dev patchelf
      - name: Build
        run: |
            export ARCH=x86_64
            ./ci/package.sh
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          make_latest: true
          files: ci/PINCE-x86_64.AppImage
