# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Specific binary names
inject
inject32
sample-target
sample-target32
sample-library.so
sample-library32.so

# Debugging files
peda-session-*.txt
.gdb_history
core*
